// Font stacks
$primary-font-stack: 'Montserrat', sans-serif;

// Font Weights
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-dark-grey: #1a1a1a;
$color-grey: #4a4a4a;
$color-ultra-light-grey: #fafafa;

// Screen sizes
$screen-sm: 475px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;