<section class="featured-products">
  <h2 class="featured-products__heading">
    {{ collections[section.settings.collection].title }}
  </h2>

  <div class="featured-products__items">
    {% render 'product-tile' for collections[section.settings.collection].products as product %}
  </div>
</section>

{% schema %}
  {
    "name": "Featured Products",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured Products",
        "category": "Products Display"
      }
    ]
  }
{% endschema %}