.collection {}

.collection__image-wrapper {
  display: none;
  height: 30vw;
  max-height: 500px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include mq($screen-md) {
    display: block;
  }
}

.collection__image {
  left: 50%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.collection__wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 50px;
}

.collection__header {
  margin-bottom: 100px;
}

.collection__heading {
  font-size: 2.8rem;
  margin-bottom: 15px;
}

.collection__description {
  font-size: 1.4rem;
}

.collection__grid {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 100px;
}

.collection__pagination {
  padding: 20px;
  text-align: center;

  a,
  span {
    align-items: center;
    color: $color-dark-grey;
    border-radius: 50%;
    display: inline-flex;
    height: 30px;
    justify-content: center;
    text-decoration: none;
    width: 30px;
  }

  span.active {
    color: $color-white;
    background-color: $color-dark-grey;
  }
}