.product {}

.product__main {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 50px;
  width: 90%;

  @include mq($screen-lg) {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
}

.product__images {
  margin-bottom: 25px;
  width: 100%;

  @include mq($screen-lg) {
    margin-bottom: 0;
    width: 50%;
  }
}

.product__image {
  max-width: 100%;
}

.product__details {
  width: 100%;

  @include mq($screen-lg) {
    width: 40%;
  }
}

.product__info {}

.product__title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.product__description {
  margin-bottom: 20px;

  p {
    margin-top: 20px;
  }
}

.product__form {}

.product__form-item {
  margin-bottom: 20px;
}

.product__label {}
.product__select {}
